# Nome do seu workflow (para você ler no GitHub)
name: Deploy Aplicacao SAM na AWS

# O GATILHO: Quando este robô deve rodar?
on:
  push: # Rodar no evento de "push"
    branches:
      - master # Apenas se o push for para a branch 'main'

# O TRABALHO: O que o robô deve fazer?
jobs:
  deploy:
    runs-on: ubuntu-latest # O robô vai rodar em uma máquina Ubuntu

    steps:
      # Passo 1: O robô "baixa" seu código do repositório
      - name: Checkout code
        uses: actions/checkout@v4

      # Passo 2: O robô instala o AWS SAM CLI
      - name: Setup SAM
        uses: aws-actions/setup-sam@v2

      # Passo 3: O robô instala o Python (necessário para 'sam build')
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13' # Use a mesma versão do seu template.yaml

      # Passo 4: O robô "pega" suas chaves do cofre (Secrets)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # IMPORTANTE: Mude para a sua região

      # Passo 5: O robô roda o 'sam build' (igual você fez no PC)
      - name: SAM Build
        run: sam build --use-container

      # Passo 6: O robô roda o 'sam deploy' (igual você fez no PC)
      - name: SAM Deploy
        run: sam deploy --config-env hml --no-confirm-changeset
